flake8==6.0.0
Flask==3.0.0
Flask-SQLAlchemy==3.1.1
html5lib==1.1
httpcore==0.17.3
httplib2==0.22.0
httpx==0.24.1
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.11
pyflakes==3.0.1
pylatexenc==2.10
pymdown-extensions==10.1
pyOpenSSL==23.2.0
pyparsing==3.1.0
PyPDF2==3.0.1
PySocks==1.7.1
pytest==7.4.0
pytest-asyncio==0.21.1
pytest-benchmark==4.0.0
pytest-cov==4.1.0
pytest-integration==0.2.3
pytest-mock==3.11.1
pytest-recording==0.12.2
pytest-xdist==3.3.1
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
PyYAML==6.0
regex==2023.6.3
SQLAlchemy==2.0.25
uritemplate==4.1.1
urllib3==1.26.15
urllib3-secure-extra==0.1.0
virtualenv==20.24.0

